body{
  /*background-color: #555555;*/
}
#logo {
  height: 20%;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0 auto;
}
.avatar {
  float: right;
  margin: 1em 1em;
}
#like{
  margin-left: 1em;
  float: right;

}
a {
  color: yellow;

}
